@page
@model HisaabPlus.Web.Pages.Customers.EditModel
@{
}
<div>
    <h1>Edit Customer</h1>
</div>
@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div style="color:red">
        @Model.ErrorMessage
    </div>
}
<form method="post" asp-antiforgery="true">
    @Html.AntiForgeryToken()
    <div>
        <label asp-for="Input.FullName"></label>
        <input asp-for="Input.FullName" />
        <span asp-validation-for="Input.FullName"></span>
    </div>

    <div>
        <label asp-for="Input.PhoneNumber"></label>
        <input type="tel" asp-for="Input.PhoneNumber" />
        <span asp-validation-for="Input.PhoneNumber"></span>
    </div>

    <div>
        <label asp-for="Input.Address"></label>
        <input asp-for="Input.Address" />
        <span asp-validation-for="Input.Address"></span>
    </div>

    <div>
        <input type="hidden" asp-for="Input.CustomerId"/>
        <button type="submit">Submit</button>
        <a asp-page="/Customers/Index">Cancel</a>
    </div>
</form>