@page
@model HisaabPlus.Web.Pages.Admin.AddSubscriptionModel
@{
}

<div class="page-container">
    <div class="form-container">
        <h1>Add Subscription</h1>

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger">
                <p>@Model.ErrorMessage</p>
            </div>
        }

        <form method="post" asp-antiforgery="true">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label>Enter Months</label>
                <input type="number" min="1" asp-for="Months" />
                <span asp-validation-for="Months"></span>
            </div>

            <input type="hidden" asp-for="ShopId" />

            <div class="form-actions">
                <button type="submit">Submit</button>
                <a asp-page="/Admin/Index">Cancel</a>
            </div>
        </form>
    </div>
</div>